.logout-div {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
}
.form-input {
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
}
.form-input:focus {
  border-bottom: 2px solid blue;
}
#btnSignin {
  padding: 5px 5px 5px 5px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  color: black
}
#btnSignin:hover {
  box-shadow: 0 0 5px blue;
}

#btnClose {
  padding: 5px 5px 5px 5px;
  background-color: white;
  border: 1px solid red;
  color: red;
}
#btnClose:hover {
  box-shadow: 0 0 5px red;
}
#responseMsg {
  font-size: 12px;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5e638;
}