body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #e1ddcf !important;
}
img {
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
}
p {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
