body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000 !important;
}
h1,h6 {
	color: #fd7e14;
}
table td {
	width: 50% !important;
	text-align: center;
	border: 1px solid white !important;
}
h1:hover {
	color: white;
}
div.footer {
	background-color: #fd7e14;
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
	text-align: center;
}
div.footer p {
	color: #000;
	font-size: 12px;
}