.username {
  position: absolute;
  top: 0;
  left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.logout-div {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
}
label {
	font-size: 15px;
	font-weight: bold;
}
.bg-custom {
	background-color: #e1ddcf;
}
div[id=marriageDetails] {
	display: none;
}
#btnRegister {
  padding: 5px 5px 5px 5px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  color: black
}
#btnRegister:hover {
  box-shadow: 0 0 5px blue;
}